
*{
    box-sizing:border-box;
}
body,html{
    width:100%;
    height:100%;
    margin:0;padding: 0;
    overflow: hidden;
}
canvas{
    background:#fff;
    cursor:default;
}
h4,h6{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    width:100%;height:100%;
    position: relative;
}
.small{
    width:100%;
    height:80px;
    position:absolute;top:0;left:0;
    z-index: 999;
    background:#F5F6F7;
    box-shadow:1px 0 5px #999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.small div{
    width:50px;
    height:100%;
    margin: 5px auto;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}
.small .cx{
    width:20px;
    height:20px;
    background: url(../img/cx.jpg);
    background-size:cover ;
}
.small .tc{
    width:100px;
    height:100%;
    border-left:1px dashed #02C66F;
    border-right:1px dashed #02C66F;
}
.small .tc label{
  margin-left: 15px;
}
#hk{
    width:150px;
    height:100%;
}
.shades{
    width:100%;height:100%;
    position:absolute;
    top:0;left:0;
    z-index: 999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.eraser{
    width:50px;height:50px;
    position:absolute;
    top:10px;left:10px;
    border:1px dashed #000;
    display: none;
}
.select{
    position:absolute;
    top:10px;left:10px;
    border:1px dashed #000;
    display: none;
}
